.section-seo-city-admin {
    .adm-detail-content-wrap {
        padding-top: 20px;

        .adm-detail-content-item-block {
            height: auto !important;
        }
    }

    .adm-detail-content-btns {
        margin:  30px 0 0;
        padding: 0 30px;
    }

    table {
        tr {
            td {
                &.adm-detail-content-cell-r {
                    padding:  0;
                    position: relative;

                    input[type="text"] {
                        box-sizing:         border-box;
                        -moz-box-sizing:    border-box;
                        -webkit-box-sizing: border-box;
                        display:            inline-block;
                        width:              calc(100% - 45px);
                        margin:             0 0 5px;
                        padding:            15px 10px;
                    }

                    textarea {
                        box-sizing:         border-box;
                        -moz-box-sizing:    border-box;
                        -webkit-box-sizing: border-box;
                        display:            inline-block;
                        width:              calc(100% - 45px);
                        margin:             0 0 5px;
                        padding:            5px 10px;
                    }

                    input[type="button"] {
                        position: absolute;
                        top:      0;
                        right:    0;
                    }
                }
            }
        }
    }
}