.section-seo-city-admin .adm-detail-content-wrap { padding-top: 20px; }

.section-seo-city-admin .adm-detail-content-wrap .adm-detail-content-item-block { height: auto !important; }

.section-seo-city-admin .adm-detail-content-btns { margin: 30px 0 0; padding: 0 30px; }

.section-seo-city-admin table tr td.adm-detail-content-cell-r { padding: 0; position: relative; }

.section-seo-city-admin table tr td.adm-detail-content-cell-r input[type="text"] { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; display: inline-block; width: calc(100% - 45px); margin: 0 0 5px; padding: 15px 10px; }

.section-seo-city-admin table tr td.adm-detail-content-cell-r textarea { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; display: inline-block; width: calc(100% - 45px); margin: 0 0 5px; padding: 5px 10px; }

.section-seo-city-admin table tr td.adm-detail-content-cell-r input[type="button"] { position: absolute; top: 0; right: 0; }

/*# sourceMappingURL=style.css.map */